
<!-- <div class="header1">
  <img class="" height="64.27" width="62" src="/assets/images/image3.png">
  <p class="card-title" id="card-title1">DataFlow SaaS</p>
  <p class="card-title" id="card-title2">Hyperbus Adaptor</p>
</div> -->
<div class="card1"></div>
   
 <div class="card3">
            <h1 class="login-title"> Sign In </h1>
           <form action="demo\src\app\upload\upload.component.html">
            <label for="inputEmail3" id="title-username">Username</label>
                <input type="email" class="form-control" id="input-email">
                <label for="inputPassword3" id="title-password">Password</label>
                <input type="password" class="form-control" id="input-password">
                <Button (click)="onBtnClick()" id="signIn-button" >Sign In </Button>

             </form>
             
            </div>
             

            




