body{
    position: absolute;
}

.leftletter1{

   /* Hyperbus Adaptor - IA Data Manager */


position: absolute;
width: 528px;
height: 38px;
left: 152px;
top: 169px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 38px;
/* identical to box height */


/* Icon/Icon Grey alpha */

color: #2B2B2B;
}